{% extends 'base.html' %}

{% block title %}Мои друзья{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

{% for item in user.page.get_friends %}

<style>
img { width: 200px; height: 250px; object-fit: cover; }


</style>
<div class="card mb-3">
    <div class="card-body">
        <div class="media">
            <img src="{{ item.page.photo.url }}" alt="" class="mr-3">
            <div class="media-budy">
                <h5 class="card-title">{{ item.page.first_name }}</h5>
                <p class="card-text">{{ item.page.last_name }}</p>
                <a href="{{ item.page.get_absolute_url }}" class="btn btn-primary">Подробнее...</a>
                {% if request.user in item.page.user.page.get_friends %}
                    <br><br>
                    <form action="{% url 'remove_friend' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="page_pk" value="{{ item.pk }}">
                        <button type="submit" class="btn btn-danger">Удалить из друзей</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endfor %}


{% endblock %}