{% extends 'base.html' %}
{% block title %}
{{ page_item.first_name }} ::  {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-body">
        <img src="{{ page_item.photo.url }}" alt="" width="350" class="float-left mr-3">
        <h5 class="card-title">{{ page_item.first_name }}</h5>
        <p class="card-text">{{ page_item.last_name}}</p>
        <p class="card-text">{{ page_item.age}}</p>
    </div>
</div>
{% endblock %}